---
title: HarmonEye
name: "index"
layout: layout
price:
  normal: 15
  discount: 5
trial:
  days: 14
---
.container
  .intro.row
    .illustration.span7
      %a.screenshot{:href => "#features", :title => 'This is the E maj7 chord. Why? Get started and learn more...'}
        .mac-screenshot
          =image_tag('harmoneye-e-major-7.png')
    .description.span4
      %h1
        %span.logo HarmonEye
        %sup.label BETA

      %h2
        %i.icon-eye-open
        See what you hear!
      
      // Sem by slo supnout carousel, ktery by opakovat hlavni fraze z features.
      :markdown
        What looks like a retina of an eye is a unique software application that listens to the **music** and shows you the **tones** and **chords** being played.
      
        From **any audio**. In **real-time**.
        
        **Try** it for **free** now.

      %p.buttons
        %a.btn.btn-primary.btn-large.get-started-button{:href => "#features", :title => "Learn in a few minutes what is it all about"}
          Get started
          %i.icon-chevron-right.icon-white
        %a.btn.btn-large.trial-button{:href => "/download", :title => "Download a fully functional #{data.page.trial.days}-day trial"}
          %i.icon-download-alt
          Try
      -#%p.buttons
      -#  %a.btn.btn-buy.btn-large.buy-button{:href => "#buy"}
      -#    %i.icon-heart.icon-white
      -#    Buy
      %p.buttons
        %a.btn-discount.buy-button{href:"#buy", title: "Find out what're celebrating..."}
          = "Today just for <strong>$#{data.page.price.discount}</strong>!"
      .share
        -# Twitter button
        %a.twitter-share-button{:href=>"https://twitter.com/share", 'data-url'=>"http://harmoneye.com/", 'data-hashtags'=>"harmoneye"}
          Tweet
        -# Facebook button
        .fb-like{'data-href'=>"https://www.facebook.com/HarmonEye", 'data-send'=>"false", 'data-layout'=>"button_count", 'data-width'=>"450", 'data-show-faces'=>"false"}

%a.fragment{:name => "features", :id => "features"}

.tagline
  .container
    .row
      .offset1.span8
        %blockquote
          %p
            %i.icon-quote-left.icon-white
            This is the answer to all my questions.
          %small A musician who randomly met me in the Prague metro.

.container
  .feature.what-it-does
    %h2
      What does HarmonEye do?
      %em
        %i.icon-eye-open
        See what you hear!
    .row.illustration
      .text-center
        .span4
          .item
            %i.icon-volume-up.icon-4x
          .item.text guitar
          .clearfix
          .item
            %i.icon-microphone.icon-4x
          .item.text voice
          .clearfix
          .item
            %i.icon-headphones.icon-4x
          .item.text YouTube
          .clearfix
          .item
            %i.icon-ellipsis-horizontal.icon-4x
        .span1.middle
          %i.icon-arrow-right.icon-2x
        .span2
          %i.icon-laptop.icon-4x
          =image_tag('harmoneye-e-major-7.png')
        .span1.middle
          %i.icon-arrow-right.icon-2x
        .span3
          .item.text see
          .item
            %i.icon-eye-open.icon-4x
          .item.text tones
          .item
            %i.icon-music.icon-4x
          .item.text chords
          .item
            %i.icon-pencil.icon-4x
          .clearfix
          .item
            %i.icon-ellipsis-horizontal.icon-4x
    .row.clearfix
      .span4
        :markdown
          HarmonEye is a unique software **application** that listens to the **music**, applies some deep math under the hood and shows you the **tones** and **chords** being played.
          
          It is able to process **any audio** on your computer. It works in **real-time** so that you don't have to wait.
      .span4
        :markdown
          The **intensity** of each **tone** in an octave is shown as a segment of a **circle** (like on the clock). A loud tone makes a long red segment. Multiple tones make a **chord**.
          
          As the music plays the circle is animated.
          
          In fact, it looks like a retina of an **eye**!
      .span4
        :markdown
          From that you can easily see the **melody**, **chords** and the **key** of your favourite songs. Including the nuances like a singer’s vibrato.
          
          You can **write** it down. Or just **look** at it for hours and be **amazed** like me!
        -#%a.btn.btn-primary.btn-large.pull-right{:href => "/learn-more"}
        -#  Learn more
        -#  %i.icon-chevron-right.icon-white
    .row.well
      .span8
        <iframe width="560" height="315" src="http://www.youtube.com/embed/9YkXvjwQNlE?vq=large" frameborder="0" allowfullscreen></iframe>
      .span3
        %h2 Eine kleine Nachtmusik
        %h3 W.A.Mozart
        :markdown
          Played by:
          
          [Advent Chamber Orchestra](http://freemusicarchive.org/music/Advent_Chamber_Orchestra/Selections_from_the_2005-2006_Season/Advent_Chamber_Orchestra_-_04_-_Mozart_-_A_Little_Night_Music_allegro)
        =image_tag("http://i.creativecommons.org/l/by-sa/3.0/us/88x31.png")
  .feature
    %h2
      How can HarmonEye help me?
      %em.alt
        %i.icon-music
        Absolute pitch for everyone!
    .row.how-can-it-help.vertical-space
      .span3
        :markdown
          With HarmonEye you can explore the amazing world of music **visually**. By "giving you **absolute pitch**" it helps you **transcribe** the melody and the chords of your favorite tunes more easily.
      .span3
        :markdown
          You can see the **patterns in music** and so better **understand** the **harmony** or just **enjoy** new **insights** to the music.
      .span6
        .row.text-center.illustration
          .span2
            %i.icon-magic.icon-4x
          .span2.middle
            %i.icon-arrow-right.icon-2x
          .span2
            %i.icon-group.icon-4x
        .row
          .span6
            -#%a.btn.btn-primary.btn-large.pull-right{:href => "/learn-more"}
            -#  Learn more
            -#  %i.icon-chevron-right.icon-white
  .feature.who-benefits
    %h2
      Who might benefit from HarmonEye?
      %em
        %i.icon-heart
        All music lovers.
    .row.vertical-space
      .span3
        :markdown
          Whether you're an **amateur** or an **professional**, a **musician** or a **listener**, a student or a teacher, HarmonEye might help you.
      .span1.text-center.lightbulb
        %i.icon-lightbulb.icon-4x
      .span4
        %p To understand the principles you don't even need to know anything about notes. On the other hand if you know the music theory you might get deeper insights.
      .span4
        :markdown
          In fact, by treating the things **visually**, you might even **comprehend** things from the music theory naturally while **avoiding** eg. the artificial **complexity** of the standard notation.
        -#%a.btn.btn-primary.btn-large.pull-right{:href => "/learn-more"}
        -#  Learn more
        -#  %i.icon-chevron-right.icon-white

  %a.fragment{:name => "buy", :id => "buy"}
  .feature.how-to-get-it
    %h2
      How can I get HarmonEye?
      %em.alt
        Enjoy and support a good thing.
    .row
      .span4
        %p
          A good way to get HarmonEye running on your machine is to <strong><a href="/download/">download</a></strong> the package, install it and <strong>buy the license</strong> in order to activate it.
          ="You can also <strong>try it for free</strong> for <strong>#{data.page.trial.days} days</strong>."
        :markdown
          For a few bucks that you might spend on a single party night it will allow you to use HarmonEye until the end of days.
          
          Note that HarmonEye is presently available **only** for **Mac OS X** desktop.
        .text-center
          %i.icon-desktop.icon-4x.computer-icon
          %i.icon-laptop.icon-4x.computer-icon
        %p Why HarmonEye is not free, open-source, for mobiles or other platforms? I'd love it to be so, too! It just takes some time and work.
      .span4
        %p Well, there is just a single person spending nights on crafting this thing, who needs something to eat and somewhere to sleep.
  
        %p Every buck earned goes directly to making HarmonEye better!

        -#%p Would you like the software and cannot afford it? Well, I'm not mean. Instead of money you can spend just a bit of time and effort and consequently <a href="/buy/#free-license">get a license for free</a>.
          
        %p Would you like to support the development of HarmonEye in another way? God bless you! You can. Eg. tell your friends, make a video, write a review. Thanks!
          
        %p
          Finally, stay in touch and enjoy!
        
        .alert.alert-success
          %p= "On <strong>24th July 2013</strong> just for <strong>$#{data.page.price.discount}</strong>."
          %p= "Save <strong>$#{data.page.price.normal - data.page.price.discount}</strong> (that is about <strong>#{((data.page.price.normal - data.page.price.discount)*100.0/data.page.price.normal).round()}%</strong>) in the honor of <strong><a href=\"http://en.wikipedia.org/wiki/Alfons_Mucha\">Alfons Mucha</a></strong>, a Czech Art Nouveau painter."
        
        .text-center
          %a{:href => 'http://mac.softpedia.com/get/Audio/HarmonEye.shtml', :title => 'Read the review at SoftPedia'}
            =image_tag('http://mac.softpedia.com/base_img/softpedia_clean_award_f.gif')

      .span4
        %p.text-center
          %a.btn.btn-buy.btn-large.buy-in-eshop-button.cross-domain-href.has-ga-event{:href => "https://sites.fastspring.com/fairos/instant/harmoneye", :target => "_blank", :title => "Continue to the eshop..."}
            =image_tag('harmoneye-e-major-7.png')
            %i.icon-heart.icon-white
            %strong
              Buy it for 
              = "just a few bucks (<del>$#{data.page.price.normal}</del> <strong>$#{data.page.price.discount}</strong>)."
              -#for just a few bucks ($15).
        %p We trust the amazing <a href="http://www.fastspring.com/">FastSpring</a> e-commerce platform. You can pay via several payment methods even in your currency.
        
  .well.stay-in-touch
    .row
      .span4
        %h3.muted
          %i.icon-rss-sign
          Stay in touch
        %p
          <a href="https://twitter.com/harmoneye" class="twitter-follow-button" data-show-count="false">Follow @harmoneye</a>
      .span4
        %p
          %a.btn.btn-success.newsletter-signup-button{:href=>"http://eepurl.com/xX1M1", :target => "_blank", :title => "Opens up a page to subscribe to newslletter - via MailChimp"}
            %i.icon-envelope.icon-white
            Notify me via email
        when important things happen from time to time.
        %p Such as when we make a ground-breaking update or publish some interesting articles on music theory and practice.
      .span3
        %p I hate spam as you do. The traffic should be low and you can unsubscribe anytime.
        %p We trust the <a href="http://mailchimp.com/">MailChimp</a> service.

#fb-root
